html {
    background-color: black;
    color: white;
}

.marker {
    /* background-color: red; */
    height: 25px;
    width: 200px;
    margin: 10px auto;
  }

  .red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0px red;
  }
  .green {
    background-color: green;
    box-shadow: 5px 5px 5px green;
  }
  .blue {
    background-color: rgb(3, 3, 78);
    box-shadow: 0 0 0 5px blue;
  }

  .container {
    background-color: rgb(86, 161, 211);
  }
  .cap {
    width: 60px;
    height: 25px;
  }

  .sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 50%);
    border-left: 10px double rgba(0, 0, 0, 0.75);
    

  }
  .cap, .sleeve {
    display: inline-block;
  }
  